<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="efinance_layout">
<head>
    <title>My Inquiries</title>
</head>
<body>
<!-- The content inside layout:fragment="content" will replace the placeholder in the layout -->
<section layout:fragment="content">
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">

                <div th:if="${param.error}" class="alert alert-danger">
                    Error submitting inquiry.
                </div>
                <div th:if="${param.success}" class="alert alert-success">
                    Inquiry submitted!
                </div>

                <h1 class="mb-5">My Inquiries</h1>

                <div th:if="${#lists.isEmpty(inquiries)}">
                    <p>No open inquiries.</p>
                </div>

                <a class="btn btn-primary mb-5" th:href="@{/efinance/inquiry}">Submit Inquiry</a>

                <div th:unless="${#lists.isEmpty(inquiries)}">
                    <div th:each="inquiry : ${inquiries}">
                        <div class="card h-100 mb-5" th:styleappend="${inquiry.didEmployeeRespond} ? 'border-color: green'">
                            <div class="card-body">
                                <div th:if="${inquiry.didEmployeeRespond}">
                                    <h2 style="color: green">Employee responded!</h2>
                                </div>
                                <h2><span th:text="${inquiry.title}"></span></h2>
                                <p>Submitted: <span th:text="${inquiry.inquiryDate}"></span></p>
                                <p>My message: <span th:text="${inquiry.message}"></span></p>
                                <!-- Add more details as needed -->
                                <div th:if="${inquiry.didEmployeeRespond}">
                                    <p>Response: <span th:text="${inquiry.employeeResponse}"></span></p>
                                    <p>From: <span th:text="${inquiry.signingEmployee?.username}"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
</body>
</html>