<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="loan_application_form">>
<head>
    <meta charset="UTF-8">
    <title>Loan Application Form</title>
</head>
<body>

<section layout:fragment="loan_application_form">

<h1>Loan Application Form</h1>

  <form th:action="@{/submit}" method="post">
    <div>
      <label for="fullName">Full Name:</label>
      <input type="text" id="fullName" name="fullName" required="required" th:value="${loanApplication.fullName}" />
    </div>

    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required="required" th:value="${loanApplication.email}" />
    </div>

    <div>
      <label for="loanAmount">Loan Amount:</label>
      <input type="number" id="loanAmount" name="loanAmount" required="required" th:value="${loanApplication.loanAmount}" />
    </div>

    <div>
      <label for="loanPurpose">Loan Purpose:</label>
      <select id="loanPurpose" name="loanPurpose" th:field="*{loanPurpose}">
        <option value="Home">Home</option>
        <option value="Car">Car</option>
        <option value="Education">Education</option>
        <option value="Other">Other</option>
      </select>
    </div>

    <button type="submit">Submit</button>
  </form>
</section>
</body>
</html>