<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="efinance_layout">
<head>
    <meta charset="UTF-8">
    <title>eFinance - Apply for Loan</title>
</head>
<body>

  <section layout:fragment="content">

    <div class="container mt-5 mb-5">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">

          <div th:if="${param.error}" class="alert alert-danger">
            Error submitting loan application.
          </div>

          <div th:if="${param.success}" class="alert alert-success">
            Loan application successfully submitted!
          </div>

          <h1 class="text-center">Loan Application Form</h1>

          <form method="post" role="form" th:action="@{/efinance/applyForLoan}">

            <div>
              <label for="loanAmount">Loan Amount:</label>
              <input type="number" class="form-control" id="loanAmount" name="loanAmount" required="required"  />
            </div>

            <div>
              <label for="loanPurpose">Loan Purpose:</label>
              <select id="loanPurpose" name="loanPurpose" >
                <option value="Personal">Personal</option>
                <option value="Auto">Auto</option>
                <option value="Renovation">Renovation</option>
                <option value="Business">Business</option>
              </select>
            </div>

            <div>
              <label for="fullName">Full Name eSignature:</label>
              <input type="text" class="form-control" id="fullName" name="fullName" required="required"  />
            </div>

            <div class="text-center">
              <button type="submit" value="applyForLoan" class="btn btn-primary">Submit</button>
            </div>
          </form>

        </div>
      </div>
    </div>

  </section>
</body>
</html>