<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="efinance_layout">
<head>
    <meta charset="UTF-8">
    <title>eFinance - Apply for Loan</title>
</head>
<body>

<section layout:fragment="content">

<h1>Loan Application Form</h1>

  <form th:action="@{/submit}" method="post">

    <div>
      <label for="loanAmount">Loan Amount:</label>
      <input type="number" id="loanAmount" name="loanAmount" required="required"  />
    </div>

    <div>
      <label for="loanPurpose">Loan Purpose:</label>
      <select id="loanPurpose" name="loanPurpose" >
        <option value="Personal">Personal</option>
        <option value="Auto">Auto</option>
        <option value="Renovation">Renovation</option>
        <option value="Business">Business</option>
      </select>
    </div>

    <div>
      <label for="fullName">Full Name eSignature:</label>
      <input type="text" id="fullName" name="fullName" required="required"  />
    </div>

    <button type="submit">Submit</button>
  </form>
</section>
</body>
</html>