<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="efinance_layout">
<head>
    <title>eFinance - Single Payment</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container mt-4">
        <div th:if="${param.error}" class="alert alert-danger">
            Error.
        </div>
        <div th:if="${param.success}" class="alert alert-success">
            Payment successfully posted!
        </div>

        <h1>Single Payment</h1>
        <form method="post" role="form" th:action="@{/efinance/myLoans/pay}">
            <input type="hidden" name="loanId" th:value="${loanAccount.id}" />

            <div>
                <label for="bankAccount">Bank Account:</label>
                <select id="bankAccount" name="bankAccount">
                    <option value="bankName">Name</option>
                    <!-- other options -->
                </select>
            </div>
            <div>
                <label for="amount">Amount:</label>
                <input type="text" class="form-control" id="amount" name="amount" required="required" />
            </div>
            <div>
                <label for="fullName">Full Name eSignature:</label>
                <input type="text" class="form-control" id="fullName" name="fullName" required="required" />
            </div>

            <button type="submit" value="payment" class="btn btn-primary">Submit Payment</button>
        </form>
    </div>
</section>

</body>
</html>