<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="efinance_layout">
<head>
    <title>eFinance - Single Payment</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container mt-4">
        <h1>Single Payment</h1>
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Loan Details</h2>
                <p>Application ID: <span th:text="${loanAccount.id}"></span></p>
                <p>Applicant Username: <span th:text="${loanAccount.customer.username}"></span></p>
                <p>Current Amount: <span th:text="${loanAccount.currentBalance}"></span></p>
                <!-- Add more details in the payment html -->
            </div>

            <div>
                <label for="bankAccount">Bank Account:</label>
                <select id="bankAccount" name="bankAccount" >
                    <option value="bankName">Name</option>
                </select>
            </div>
            <div>
                <label for="amount">Amount:</label>
                <input type="text" class="form-control" id="amount" name="amount" required="required"  />
            </div>


            <div>
                <label for="fullName">Full Name eSignature:</label>
                <input type="text" class="form-control" id="fullName" name="fullName" required="required"  />
            </div>

            <div>
                <button type="submit" value="payment" class="btn btn-secondary">Submit Payment</button>
            </div>


</body>
</html>