<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="efinance_layout">
<head>
    <meta charset="UTF-8">
    <title>Review Inquiry</title>

</head>
<body>
<!-- The content inside layout:fragment="content" will replace the placeholder in the layout -->
<section layout:fragment="content">
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div th:if="${param.acknowledge}" class="alert alert-success">
                    Inquiry has been acknowledged.
                </div>
                <div th:if="${param.error}" class="alert alert-success">
                    Error responding.
                </div>
                <h1 class="mb-5">Review Inquiry</h1>

                <div th:if="${#lists.isEmpty(inquiry)}">
                    <p>No Inquiry applications.</p>
                </div>
                <div th:unless="${#lists.isEmpty(inquiry)}">
                    <div th:each="inquiry : ${inquiry}">
                        <a th:href="@{/efinance/reviewInquiry/{id}(id=${inquiry.inquiryid})}" style="text-decoration: none; color: inherit;">
                            <div class="card h-100 mb-5">
                                <div class="card-body">
                                    <h2>Application ID: <span th:text="${inquiry.inquiryid}"></span></h2>
                                    <p>Applicant: <span th:text="${inquiry.applicantName.username}"></span></p>
                                    <p>Email: <span th:text="${inquiry.email}"></span></p>
                                    <p>Title: <span th:text="${inquiry.title}"></span></p>
                                    <p>Message: <span th:text="${inquiry.message}"></span></p>
                                    <!-- Add more details as needed -->
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>